*{/* Задал параметры которые применяться ко всей страничке */
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}


:root {/*в руте задал цвета которые будут использоваться и базовые пораметры*/
    --brown-color:#926239;
    --white-color:#FFFFFF;
    --grey-сolor:#f4f4f4;
    font-size: 17px;
    line-height: 1.6em;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}


.text-overflow { /* текст в одну строчку при сужении 3 точки */
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.header { /* блок головы */
    height: 914px;
    padding: 376px 20px 0 20px ;
    background-image:url(../images/beachshowcase.jpeg) ;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    text-align: center;
    color: var(--brown-color);
}

.header__title { /* заголовок */
    font-size: 50px;
    line-height: 1.2em;
}

.header__subtitle { /* подзаголовок */
    font-size: 20px;
    font-weight: 200;
}

 /* кнопку сделал дивом что бы не уберать базовые стили с       семантического блока button */
.header__button {
    display: inline-block;
    max-width: 150px;
    margin: 20px auto 0 auto;
    padding: 14px 20px;
    border: 1px solid var(--brown-color);
    border-radius: 10px;
    font-size: 18px;
}

.main { /* центральный блок сайта */
    text-align: center;
}
/* что бы не записывать несколько раз отступы блокам  */
.main__section-info,
.main__section-content,
.footer__section-info,
.footer__section-content {
    padding: 20px;
}

.main__section-info,
.footer__section-info {
    color: var(--white-color);
    background-color:var(--brown-color) ;
}

.main__section-content {
    background-color: var(--grey-сolor);
}

.main__section-content,
.footer__section-content {
    color: var(--brown-color);
}
/* задал размеры 3м блокам подвала относительно вью портом */
.footer__section-info,
.footer__section-content {
    display: inline-block;
    width: 33.33vw;
}




